:root {
	background: var(--background);
	color: var(--color);
	font: var(--font);
	min-height: 100vh;
}

body {
	min-height: 100%;
	margin: 0;
}

h1 {
	font: var(--h1-font);
	color: var(--h1-color);
}

h2 {
	font: var(--h2-font);
	color: var(--h2-color);
}

h3 {
	font: var(--h3-font);
	color: var(--h3-color);
}

h4 {
	font: var(--h4-font);
	color: var(--h4-color);
}

h5 {
	font: var(--h5-font);
	color: var(--h5-color);
}

h6 {
	font: var(--h6-font);
	color: var(--h6-color);
}

code, pre, samp {
	font: var(--code-font);
	color: var(--code-color);
}

sub, sup {
	font: var(--sup-font);
	color: var(--sup-color);
}

table {
	color: var(--table-color);
	font: var(--table-font);
}
